# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

tests/
docker/volume/
docker/dify/volume/

web/node_modules/
web/dist/
web/.vscode/

.DS_Store
.idea/
.venv/
logs/
# 环境变量文件
.pytest_cache/

.DS_Store
.pem
docker/dify/docker/volumes/app/storage
docker/dify/docker/volumes/db/data
docker/dify/docker/volumes/plugin_daemon
docker/dify/docker/volumes/weaviate
docker/dify/docker/volumes/redis